@font-face {
    font-family: 'Roboto';
    font-weight: 100 900; 
    font-style: normal;
    src: url('Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations');
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    height: 72px;
    padding-left: 100px;
    padding-right: 100px;
    color:#F9FAF8;
    font-size: 24px;
    align-items: center;
}

.left-header {
    font-weight: bold;
    padding: 24px;
}

.right-header {
    display: flex;
    font-size: 16px;
    font-weight: 350;
    gap: 24px;
    padding: 24px;
}

.right-header a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    height: 400px;
    background: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    padding-bottom: 30px;
}

.left-hero {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #F9FAF8;
    gap: 18px;
}

.left-hero .heading {
    font-size: 48px;
    font-weight: 900;
}

.left-hero .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.left-hero button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.right-hero img{
    height: 250px;
    width: 500px;
    padding: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 472px;
    padding-left: 100px;
    padding-right: 100px;
}

.heading-info {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    padding: 0 24px 48px 24px;
}

.images-info {
    display: flex;
    justify-content: center;
    padding: 0 24px 10px 24px;
    gap: 50px;
}

.image-info img {
    height: 170px;
    border-radius: 16px;
    border: 5px solid #3882F6;
}

.subtexts-info {
    display: flex;
    padding: 0 24px;
    justify-content: center;
    gap: 50px;
}

.subtext-info {
    max-width: 180px;
    min-width: 180px;
    text-align: center;
    color: #4A4A4A
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 24px 24px 0 24px;
    width: 876px;
}

.quote-person {
    display: flex;
    padding: 0 64px 24px 0;
    width: 876px;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 800;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 876px;
    margin: 100px 124px;
    padding: 0 108px 0 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.left-cta .heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.left-cta .subtext {
    color: #E5E7EB;
}

.right-cta {
    padding-right: 12px;
    
}

.right-cta button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #F9FAF8;
}